= form_for branch, remote: true do |f|
  = hidden_field_tag :repository_id, @repository.id
  .row.branch-item
    .col-xs-1
      = image_tag 'logo.png', class: 'full-width'
    .col-xs-8
      = branch.name
    .col-xs-3
      = f.check_box :watched
