= form_for repository, remote: true do |t|
  .row.repository-item
    .col-xs-1
      = image_tag 'logo.png', class: 'full-width'
    .col-xs-8
      = link_to repository.full_name, repository_path(repository)
    .col-xs-3
      = t.check_box :watched
      = t.hidden_field :id
