.form-group
  = form_tag comments_path, method: :post do
    .fieldset
      = text_area_tag :body, nil, placeholder: t('comments.placeholder')
      = hidden_field_tag :line_number, @line_number
      = hidden_field_tag :repo, @repo
      = hidden_field_tag :sha, @sha
      = hidden_field_tag :filename, @filename
    .fieldset
      = submit_tag 'Add comment'